page-home {

}
/*.content{
  background-color:lightblue;
}*/

/*#settingsButton{
  text-align: right;
}

/*.title{
  text-align: center;

}*/
/*#paragraaf{
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}*/
