page-home {

}
.background{
  background-color: #c8e0ea;
}
.settingsIonicon{
  font-size: 30px;
}
.fingerprintbutton{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  float: left;
  display: block;
  margin-left: 42%;
  margin-bottom: 10px;
}
.fingerprinticon{
  font-size: 35px;
  color: red;
}
